.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: cornflowerblue;
    &__checkboxes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 30vw;
        &--div{
            padding-left: 2px;
        }
    }
}